.agenda {
  display: flex;
  position: relative;
  overflow-x: hidden;
  
  .details-issues {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  & > div {
    &:last-child {
      flex: 1;
      margin-left: $large-space;
    }
  }
}
