.recap {
  background: $gray-low;
  padding: $xxxx-large-space $xxxxx-large-space $xxxxx-large-space $xxxxx-large-space;

  &__title {
    @include useful-details;
    margin-bottom: $large-space;
    color: $secondary-utility-color;
  }

  &__item:not(:last-child) {
    margin-bottom: $large-space;
  }
}

.recap-item {
  &__title {
    @include disclosure-information;
    color: $gray-dark;
    margin-bottom: $x-small-space;
  }

  &__info {
    @include important-text-information;
  }

  &__contact-informations {
    @include contact-informations;
    color: $primary-dark-color;
    margin-top: $x-small-space;
  }
}
