.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  top: 0;
  left: 0;
  background: $overlay-utility-color;
  width: 100vw;
  height: 100vh;

  &__container {
    min-width: 850px;
    max-width: 950px;
    border-radius: $card-radius;
    padding: $xxxxx-large-space $xxxxxx-large-space;
    background: $primary-utility-color;
  }

  &__container--loader {
    background: none;
  }
}
