.new-intervention-form {
  &__fields {
    display: flex;
  }

  &__buttons {
    display: flex;
    margin-top: $xxxx-large-space;

    :not(:last-child) {
      margin-right: $large-space;
    }

    button {
      width: 100%;
    }
  }
}

.form-fields {
  &__inputs {
    width: 50%;
    margin-right: $xx-large-space;
    .input-label:not(:last-child) {
      margin-bottom: $large-space;
    }
  }

  &__container{
    display: flex;

    .input-label:nth-child(2){
      margin-left: $small-space;
    }
  }

  &__recap {
    width: 50%;
  }
}
