.issue-header-agenda {
  padding-left: $x-small-space;
  margin-bottom: $xx-large-space;
  .hearder-message {
    @include text-information;
    color: $gray-darker;
    margin-bottom: $x-large-space;

    span {
      @include important-text-information;
    }
  }

  .total-issues {
    @include important-detailed-information;
    color: $secondary-utility-color;
  }
}
