.issue-header-agenda {
  padding-left:$x-small-space;
  margin-bottom: $xx-large-space;
  .hearder-message{
    @include text-information;
    color: $gray-darker;
    margin-bottom: $x-large-space;

    span{
      @include text-information;
      color: $primary-dark-color;
      border-bottom: 2px solid  $primary-dark-color;
      padding-bottom: $xx-small-space;
    }
  }

  .total-issues{
    @include detailed-information;
    color: $secondary-utility-color;
  }
}
