.title-component.card-title {
  @include card-title;
  margin-bottom: $large-space;
}

.title-component.detailed-information-title {
  @include detailed-information-title;
  margin-bottom: $medium-space;
}

.title-component.page-title {
  @include card-title;
  margin: $medium-space 0 $xx-large-space $xxxx-large-space;
}
