@mixin loader {
  width: 5em;
  height: 1.5em;
  border: .15em $gray-darker solid;
  border-radius: .25em;
  background: linear-gradient(-68deg, transparent 0%, transparent 50%, $gray-darker 50%, $gray-darker 75%, transparent 75%, transparent);
  background-size: 2.5em 5em;
  background-position: 0 0;
  animation: loader 0.8s infinite linear;
  margin: auto;

  @keyframes loader {
    from { background-position: 0 0; }
    to { background-position: -5em 0; }
  }
}