$primary-dark-color: #626EEF;
$primary-light-color: #B1B7F7;
$secondary-color: #EFE362;

$primary-utility-color: #FFFFFF;
$secondary-utility-color: #040726;
$overlay-utility-color: rgba(4, 7, 38, 0.8);

$gray-darker: #465970;
$gray-dark: #6881A0;
$gray-base: #9AABC0;
$gray-light: #CDD5DF;
$gray-lighter: #E6EAEF;
$gray-low: #F9FAFB;

$alert: #EC4A4A;
$alert-light: #FEFAFA;;
