$xxx-small-space: 2px;
$xx-small-space: 4px;
$x-small-space: 8px;
$small-space: 10px;
$medium-space: 16px;
$large-space: 24px;
$x-large-space: 32px;
$xx-large-space: 40px;
$xxx-large-space: 48px;
$xxxx-large-space: 64px;
$xxxxx-large-space: 80px;
$xxxxxx-large-space: 100px;
