@tailwind base;
@tailwind components;
@tailwind utilities;

//Components
@import './reset';
@import './colors';
@import './typography';
@import './spaces';
@import './radius';
@import './shadow';

//// Components Styles ////

// Atoms
@import '../components/atoms/title/title.scss';
@import '../components/atoms/issueMessage/issueMessage.scss';
@import '../components/atoms/issueDate/issueDate.scss';
@import '../components/atoms/variationStat/variationStat.scss';
@import '../components/atoms/mainStat/mainStat.scss';
@import '../components/atoms/tagsIncidents/tagsIncidents.scss';
@import '../components/atoms/localisationIncidents/localisationnIncidents.scss';

// Molecules
@import '../components/molecules/issueInformation/issueInformation.scss';
@import '../components/molecules/currentMonthChart/currentMonthChart.scss';
@import '../components/molecules/establishmentContact/establishmentContact.scss';

// Organismes
@import '../components/organisms/incidentsOfTheMonth/incidentsOfTheMonth.scss';
@import '../components/organisms/establishmentInfo/establishmentInfo.scss';
@import '../components/organisms/DropDownIncidentsTypes/dropdownIncidentsTypese.scss';

// Templates
@import '../components/templates/card.scss';

////////

html {
  font-family: $main-font;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
