@import './reset';
@import './colors';
@import './typography';
@import './spaces';
@import './radius';
@import './shadow';

//// Components Styles ////

// Atoms
@import '../components/atoms/title/title.scss';
@import '../components/atoms/issueMessage/issueMessage.scss';
@import '../components/atoms/issueDate/issueDate.scss';
@import '../components/atoms/variationStat/variationStat.scss';
@import '../components/atoms/mainStat/mainStat.scss';
@import '../components/atoms/tagsIncidents/tagsIncidents.scss';
@import '../components/atoms/localisationIncidents/localisationnIncidents.scss';
@import '../components/atoms/button/button.scss';
@import '../components/atoms/inputTextArea/inputTextArea.scss';
@import '../components/atoms/datePicker/datePicker.scss';
@import '../components/atoms/inputText/inputText.scss';
@import '../components/atoms/cellTable/cellTable.scss';

// Molecules
@import '../components/molecules/issueInformation/issueInformation.scss';
@import '../components/molecules/currentMonthChart/currentMonthChart.scss';
@import '../components/molecules/establishmentContact/establishmentContact.scss';
@import '../components/molecules/calendarListMonth/calendarListMonth.scss';
@import '../components/molecules/calendarContactCard/calendarContactCard.scss';
@import '../components/molecules/inputAndLabel/inputAndLabel.scss';
@import '../components/molecules/formRecap/formRecap.scss';
@import '../components/molecules/sensorsTable/sensorsTable.scss';

// Organismes
@import '../components/organisms/incidentsOfTheMonth/incidentsOfTheMonth.scss';
@import '../components/organisms/establishmentInfo/establishmentInfo.scss';
@import '../components/organisms/DropDownIncidentsTypes/dropdownIncidentsTypese.scss';
@import '../components/organisms/sidebar/sidebar.scss';
@import '../components/organisms/calendarDisclosure/calendarDisclosure.scss';
@import '../components/organisms/newInterventionForm/newInterventionForm.scss';

// Templates
@import '../components/templates/card/card.scss';
@import '../components/templates/modal/modal.scss';
@import '../components/templates/page/page.scss';

// Pages
@import '../components/pages/home/Home.scss';

////////

html {
  font-family: $main-font;
}

.App {
  display: flex;
  background-color: $gray-low;
  padding-left: 250px;
}
