.establishmentInfo {
	padding: $xx-large-space;
	border: 1px solid $gray-lighter;
	border-radius: $card-radius;
	box-shadow: $outer-shadow;
	background-color: $primary-utility-color;

	& > div {
		display: flex;
		justify-content: space-between;
	}
}
