.disclosure-issues  {
  width: 100%;

  .disclosure-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: $small-space;
    padding-bottom: $small-space;
    border-bottom: solid 2px $gray-lighter;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      h3 {
        padding-left: $x-small-space;
        @include text-information;
        color: $secondary-utility-color;
      }

      p {
        @include important-disclosure-information;
        margin-top: $xx-small-space;
        padding-left: $large-space;
      }
    }

    .button-disclosure {
      @include disclosure-information;
      padding-right: $x-small-space;
      color: $primary-dark-color;
      border: none;
    }
  }

  .detailed-informations {
    display: flex;
    width: 21em;
    justify-content: space-between;
    padding-left: $x-small-space;
    margin-top: 10px;
    span {
      @include detailed-information-title;
    }
  }

  .list-issues {
    .issues {
      display: flex;
      justify-content: space-between;
      width: 31.5em;
      border-bottom: solid 1px $gray-low;
      padding-left: $x-small-space;
      padding: $large-space $large-space $large-space $x-small-space;
    }
  }
}
