.disclosure-issues  {
  width: 100%;

  .disclosure-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
    padding-top: $small-space;
    padding-bottom: $small-space;
    border-bottom: solid 2px $gray-lighter;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      h3 {
        padding-left: $x-small-space;
        @include disclosure-information-title;
        color: $secondary-utility-color;
      }

      p {
        @include important-disclosure-information;
        margin-top: $xx-small-space;
        padding-left: $large-space;
      }
    }

    .button-disclosure {
      @include important-disclosure-information;
      display: flex;
      align-items: center;
      padding-right: $x-small-space;
      background-color: transparent;
      color: $primary-dark-color;
      border: none;
      cursor: pointer;

      img {
        margin-left: $x-small-space;
      }
    }
  }

  .detailed-informations {
    display: flex;
    width: 19em;
    justify-content: space-between;
    padding-left: $x-small-space;
    margin-top: 10px;
    span {
      @include detailed-information-title;
    }
  }

  .list-issues {
    .issues {
      display: grid;
      grid-template-columns: 33% 30% 32%;
      width: 28em;
      border-bottom: solid 1px $gray-low;
      padding-left: $x-small-space;
      padding: $large-space $large-space $large-space $x-small-space;
    }
    .issues-messages{
      color: $secondary-utility-color;
      @include disclosure-information;
      padding: $large-space $large-space $large-space $x-small-space;
    }
  }
}
