.button {
  padding: $medium-space $xxx-large-space;
  border-radius: $regular-radius;
  border: 2px solid transparent;
  cursor: pointer;

  &--primary {
    background: $primary-dark-color;
    color: $primary-utility-color;
    font-weight: bold;

    &:hover {
      background-color: $primary-light-color;
      border: 2px solid $primary-dark-color;
      box-sizing: border-box;
    }

    &:active {
      background-color: $primary-dark-color;
      border: 2px solid $primary-dark-color;
      box-sizing: border-box;
    }
  }
  &--cancel {
    &:hover {
      background-color: $alert-light;
      border: 2px solid $alert;
      color: $alert;
      box-sizing: border-box;
    }

    &:focus {
      background-color: $alert-light;
      border: 2px solid $alert;
      color: $alert;
      box-sizing: border-box;
    }

    &:active {
      background-color: $alert;
      color: $primary-utility-color;
      border: 2px solid $alert;
      box-sizing: border-box;
    }
  }

  &:disabled {
    background-color: $gray-light;
  }
}
