.home {
  display: flex;
  flex: auto;
  justify-content: space-between;

  .card {
    flex: auto;
  }
  .card-container {
    margin-left: $large-space;
    min-width: 50%;

    & > div {
      margin: $large-space 0;

      &:first-child, &:last-child {
        margin: 0;
      }
    }
  }

  .titleIncidentsOfAllTimeLoader {
    margin-bottom: $large-space;
  }
}
