.home {
  display: flex;

  .card {
    flex: 1;
  }
  .card-container {
    margin-left: $large-space;
    // min-width: 50%;
    flex: 1;

    & > div {
      margin: $large-space 0;

      &:first-child, &:last-child {
        margin: 0;
        flex: none;
      }
    }
  }

  .titleIncidentsOfAllTimeLoader {
    margin-bottom: $large-space;
  }
}
