.calendar-contact-card {
  display: flex;
  border: 1px solid $gray-lighter;
  background-color: $primary-utility-color;

  .company-infos {
    padding: $medium-space;
    display: flex;
    flex-direction: column;
    flex: auto;
    span {
      @include disclosure-information;
      color: $secondary-utility-color;
      margin-bottom: $medium-space;
    }

    h3 {
      @include useful-details;
      margin-bottom: $medium-space;
      color: $secondary-utility-color;
    }

    p {
      @include contact-informations;
      color: $primary-dark-color;
      &:last-child {
        margin-top: $xx-small-space;
      }
    }
  }

  .intervention-wrapper {
    padding: $x-small-space;
    box-shadow: $input-shadow;
    display: flex;

    &:hover {
      background-color: $gray-low;
    }

    .intervention-program {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        margin-top: $medium-space;
        color: $secondary-utility-color;
        @include important-disclosure-information;
        font-weight: bold;
        text-align: center;
      }
    }
  }
}
