.calendar-contact-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31em;

  .company-infos {
    width: 70%;
    border-left: 1px solid $gray-lighter;
    border-right: none;
    border-top: 1px solid $gray-lighter;
    border-bottom: 1px solid $gray-lighter;
    padding: $medium-space;
    display: flex;
    flex-direction: column;
    flex: auto;
    span {
      @include disclosure-information;
      color: $secondary-utility-color;
      margin-bottom: $medium-space;
    }

    h3 {
      @include useful-details;
      margin-bottom: $medium-space;
      color: $secondary-utility-color;
    }

    p {
      @include contact-informations;
      color: $primary-dark-color;
      &:last-child {
        margin-top: $xx-small-space;
      }
    }
  }

  .intervention-wrapper { 
    height: 8em;
    box-shadow: inset 1px 0px 1px $gray-lighter;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: $gray-low;
      border-radius: $regular-radius;
    }

    &:focus {
      background-color: $gray-low;
      border-radius: $regular-radius;
      border: 2px solid $gray-lighter;
    }

    &:active {
      background-color: $gray-lighter;
      border-radius: $regular-radius;
      border: 2px solid $gray-lighter;
    }

    .intervention-program {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        margin-top: $medium-space;
        color: $secondary-utility-color;
        @include important-disclosure-information;
        font-weight: bold;
        text-align: center;
      }
    }
  }
}
