.dropdownIncidents {
  width: 32em;

  .dropdownHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: $xx-small-space;
    border-bottom: solid 2px $gray-lighter;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      h3 {
        @include text-information;
        color: $secondary-utility-color;
      }

      p {
        @include important-disclosure-information;
        padding-left: $large-space;
      }
    }

    .dropdownButton {
      @include disclosure-information;
      color: $primary-dark-color;
      border: none;
    }
  }

  .detailedInformations {
    width: 83%;
    display: flex;
    justify-content: space-around;
    span {
      @include detailed-information-title;
    }
  }

  .listIncidents {
    width: 100%;
    padding: 0 $x-small-space 0 $x-small-space;
    .incidents {
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px $gray-low;
      padding: $large-space;

      div {
        width: 11.375em;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
