.establishmentContact {
  display: flex;
  flex-direction: column;

  p, .contact-info {
    margin-bottom: $x-small-space;
  }

  .contact-info {
    display: block;
  }

  .commonData {
    margin-bottom: $xx-large-space;
  }

  .name {
    @include detailed-information-title;
    color: $secondary-utility-color;
  }

  .address {
    @include disclosure-information;
    color: $secondary-utility-color;
  }

  .importantData {
    margin-top: auto;
    text-align: right;

    p {
      @include useful-details;
      margin-bottom: 0;
    }
    .number {
      color: $gray-base;
    }

    p:first-child {
      @include important-useful-details;
      margin-bottom: $x-small-space;
    }
  }
}
