.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 296px;
  border-right: 1px solid $gray-lighter;
  padding: $xx-large-space $medium-space;
  background-color: $primary-utility-color;

  .school-container {
    padding: $medium-space $large-space;
    margin-bottom: $xx-large-space;
    .subtitle {
      @include disclosure-information;
      color: $gray-darker;
      margin-bottom: $medium-space;
    }
    .school-title {
      @include statistic-name;
      color: $secondary-utility-color;
    }
  }

  nav {
    color: $secondary-utility-color;
    text-align: left;
    position: relative;
    height: 100%;

    ul {
      li {
        padding: $medium-space $large-space;
        &:not(:last-child) {
          margin-bottom: $large-space;
        }

        &:last-child {
          position: absolute;
          bottom: 0;
        }

        a {
          @include menu-link;
          padding-bottom: $x-small-space;
        }
      }
    }
  }
}
