.sidebar {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 250px;
  border-right: 1px solid $gray-lighter;
  padding: $xx-large-space $medium-space;
  background-color: $primary-utility-color;

  .school-container {
    padding: $medium-space $large-space;
    margin-bottom: $xx-large-space;
    .subtitle {
      @include disclosure-information;
      color: $gray-darker;
      margin-bottom: $medium-space;
    }
    .school-title {
      @include statistic-name; 
      color: $secondary-utility-color;
    }
  }

  nav {
    color: $secondary-utility-color;
    text-align: left;
    position: relative;
    height: 100%;

    ul {
      li {
        &:not(:last-child) {
          margin-bottom: $large-space;
        }

        &:last-child {
          position: absolute;
          bottom: 0;
        }

        a {
          @include menu-link;
          text-decoration: none;
          color: $secondary-utility-color;
          padding: $medium-space $large-space;
          display: list-item;
        }
        
        .dashboard-link {
          &.active {
            @include text-information;
            color: $primary-dark-color;
            border-bottom: 2px solid  $primary-dark-color;
            margin-left: $large-space;
            padding: 0px 0px $xx-small-space 0px;
            width: 60%;
          }
        }

        .monitoring-link {
          &.active {
            @include text-information;
            color: $primary-dark-color;
            border-bottom: 2px solid  $primary-dark-color;
            margin-left: $large-space;
            padding: 0px 0px $xx-small-space 0px;
            width: 54%;
          }
        }
        .agenda-link {
          &.active {
            @include text-information;
            color: $primary-dark-color;
            border-bottom: 2px solid  $primary-dark-color;
            margin-left: $large-space;
            padding: 0px 0px $xx-small-space 0px;
            width: 30%;
          }
        }
      }
    }
  }
}

