.sensorTable {
  width: 100%;
  max-height: 80vh;
  display: block;
  overflow-y: scroll;
  transition: max-height 0.5s ease;

  thead th {
    cursor: pointer;
    
    img {
      margin: -2px 0 0 $x-small-space;
      vertical-align: top;
    }
  }

  thead, tbody {
    width: 100%;
    display: block;

    tr {
      display: flex;

      td, th {
        width: 25%;
      }
    }
  }

  th {
    @include detailed-information-title;
    padding: $medium-space 0;
  }

  &.graphOpened {
    max-height: 40vh;
  }
}
