.tag-container {
  display: flex;
  .tag-status {
    @include important-disclosure-information;
    padding: $xx-small-space $x-small-space;

    &.assign {
      border: none;
      border-radius: $regular-radius;
      color: $gray-darker;
      background-color: $secondary-color;
    }

    &.in_progress {
      background-color: $gray-light;
      color: $secondary-utility-color;
      border: solid 1px $gray-dark;
      border-radius: $regular-radius;
    }

    &.finish {
      background-color: $gray-low;
      color: $secondary-utility-color;
      border: solid 1px $gray-darker;
      border-radius: $regular-radius;
    }
  }
}
